body{
 
	font-family: Arial;
}

#container{
margin: 28px;
background-color: #EEE;
display: flex;
flex-direction: column;
align-content: center;
width: 80%;

}

#intro{
	font-size: 28px;
	padding: 14px;
}
#project{
	margin: 28px;
	
}
img{
margin-top: auto;
margin-bottom: auto;
height: 25%;
width: auto;

}

h1{
	background-color: #66CCFF;
	padding: 14px;
	font-size: 56px;
}

ol{
	margin:7px;
	display: flex;
	flex-direction: column;
}

li{
	margin: 7px;
	font-size: 42px;
}
#button-box{
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	margin: 14px;
	padding: 14px;
	font-size: 35px;
}
#starter{
	font-family: Bradley Hand, cursive;
	font-weight: bold;
	padding: 14px;
	font-size: 49px;
	

}

#output1{

	font-weight: :bold;
	color: hotpink;

}

#output2{
	
	font-weight: :bold;
	color: hotpink;
}

#output3{

	font-weight: :bold;
	color: hotpink;
}

#output4{

	font-weight: :bold;
	color: hotpink;
}

#output5{

	font-weight: :bold;
	color: hotpink;
}
#output6{

	font-weight: :bold;
	color: hotpink;
}
#output7{

	font-weight: :bold;
	color: hotpink;
}
#output8{

	font-weight: :bold;
	color: hotpink;
}

#repeat1{
	font-weight: :bold;
	color: hotpink;

}

#repeat2{
	font-weight: :bold;
	color: hotpink;

}

#repeat3{
	font-weight: :bold;
	color: hotpink;

}

#repeat4{
	font-weight: :bold;
	color: hotpink;

}


#repeat5{
	font-weight: :bold;
	color: hotpink;

}












